<th:block th:fragment="setContent(content)">
    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>텐트렌탈프로젝트</title>
        <!-- Favicon-->
        <link rel="icon" href="/assets/tentFavicon.png" type="image/png" >

        <!-- jQuery 를 Bootstrap 보다 먼저 불러와야 웹브라우저 콘솔창에서 오류를 안볼 수 있다. -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet"/>
        <!-- icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="customizeNavbar">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/home/main">TentRental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/home/main">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/goods/list" th:if="${#authorization.expression('isAuthenticated()')}">상품목록</a></li>
                    <li class="nav-item"><a class="nav-link" href="/purchase/list" th:if="${#authorization.expression('isAuthenticated()')}">예약현황</a></li>
                    <li class="nav-item"><a class="nav-link" href="/goods/register" th:if="${#authorization.expression('isAuthenticated()')}">상품등록</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                            <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                        </ul>
                    </li>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4" id="navbarRight">
                        <form class="d-flex" th:if="${#authorization.expression('isAuthenticated()')}">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                Cart
                                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                            </button>
                        </form>
                        <button class="customizeBtn info" th:sec="USER" onclick="redirectToEdit()">내정보수정</button>
                        <button class="customizeBtn info" th:sec="ADMIN" onclick="redirectToUserList()">전체회원목록</button>
                        <button class="customizeBtn success" th:unless="${#authorization.expression('isAuthenticated()')}" onclick="redirectToLogin()">Login</button>
                        <button class="customizeBtn danger" th:if="${#authorization.expression('isAuthenticated()')}" onclick="redirectToLogout()">Logout</button>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">TentRental</h1>
                <p class="lead fw-normal text-white-50 mb-0">2023.08.13 ~ 2023.10.12</p>
            </div>
        </div>
    </header>

    <!-- Page content-->
    <div class="container-fluid">
        <th:block th:replace = "${content}"></th:block>
    </div>


    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; TentRental 2023</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    </body>
    </html>
</th:block>