<!DOCTYPE html>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
	
	<th:block th:fragment="content"> 
		
		<h1>상품리스트페이지
		 	<span>
                <a th:href="@{/board/register}">
                    <button type="button" class="btn btn-outline-primary">게시물 등록</button>
                </a>
            </span>
		</h1>
		<!--<h2>
			 <form action="/board/search" method="get">
				<div>
					<input name="keyword" type="text" placeholder="검색어를 입력해주세요">
				</div>
				<button>검색하기</button>
			</form>
		</h2>-->

		<!--테이블 구조 변경-->
		<table class="table table-striped"><!--부트스트랩의 스타일 적용-->
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">상품명</th>
					<th scope="col">가격</th>
					<th scope="col">상품설명</th>
					<th scope="col">등록일</th>
					<th scope="col">조회수</th>
				</tr>
			</thead>
			<tbody>
				
				<tr th:each="dto : ${list}">
					<!--게시물 리스트를 하나씩 꺼내서 처리하기-->
					
					<th scope="row">
						
					<a th:href="@{/board/read(no = ${dto.goodsNo}, page= ${list.number + 1})}">[[${dto.goodsNo}]]</a>
					
					</th>
					
					<td>[[${dto.goodsName}]]</td>
					
					<td>[[${dto.goodsPrice}]]</td>
					
					<td>[[${dto.goodsDescription}]]</td>
					
					<td>[[${#temporals.format(dto.goodsRegDate, 'yyyy/MM/dd')}]]</td>
					
					<td>[[${dto.goodsView}]]</td>
					
				</tr>
				
				
				
			</tbody>

		</table>
		
		<ul class="pagination h-100 justify-content-center align-items-center">
			<th:block th:each="page : ${#numbers.sequence(1, list.totalPages)}">
				<li th:class="'page-item ' + ${(list.number + 1) == page?'active':''}">
					<a class="page-link" th:href="@{/board/list(page = ${page})}" >
						[[${page}]]
					</a>
					
				</li>
				
			</th>
		</ul>
		
		<script th:inline="javascript">
			
			$(document).ready(
				function(){
					let msg = [[${msg}]]
					if(msg != null){
						alert(msg + "번 글이 등록되었습니다.");
					}
				}
			);
			
		</script>
		
	</th:block>
	
</th:block>
