<!DOCTYPE html>
<html lang="en">
	
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
	<!--템플릿 조각 전달-->
	<th:block th:fragment="content"> <!--템플릿 만들기-->
		
		<h1>Main Page</h1>
		<div class="container">
			<form class="form-signin" method="post" action="/login">
				<h2 class="form-signin-heading">Please sign in</h2>
				<p>
					<label for="username" class="sr-only">Username</label>
					<input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
				</p>
				<p>
					<label for="password" class="sr-only">Password</label>
					<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
				</p>
				<p><input type='checkbox' name='remember-me'/> Remember me on this computer.</p>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			</form>
			<h2 class="form-signin-heading">Login with OAuth 2.0</h2>
			<table class="table table-striped">
				<tr><td><a href="/oauth2/authorization/google">Google</a></td></tr>
			</table>
		</div>
	</th:block>
	
</th:block>