<th:block th:replace="~{layout/base :: setContent(~{this::content} )}">
	<th:block th:fragment="content">
		<section class="py-5">
			<div class="container px-4 px-lg-5 my-5">
				<div class="row gx-4 gx-lg-5 align-items-center">
					<div class="col-md-6">
						<th:block th:if="${result.imgPath!=null}">  <!-- 이미지가 있으면 출력 -->
							<div class="card-img-top mb-5 mb-md-0">
								<img th:src="@{'/uploadfile/'+${result.imgPath}}">
							</div>
						</th:block>
					</div>
					<div class="col-md-6">
						<div class="small mb-1">[[${result.goodsNo}]]</div>
						<h1 class="display-5 fw-bolder">[[${result.goodsName}]]</h1>
						<div class="fs-5 mb-5">
							<span>[[${result.goodsPrice}]]</span>
						</div>
						<p class="lead">[[${result.goodsDescription}]]</p>
						<div class="d-flex">조회수:
							<div class="small mb-1">[[${result.goodsView}]]</div>
						</div>
						<div class="d-flex">등록일:
							<div class="small mb-1">[[${#temporals.format(result.regDate, 'yyyy/MM/dd HH:mm:ss')}]]</div>
						</div>
						<div class="d-flex">수정일:
							<div class="small mb-1">[[${#temporals.format(result.modDate, 'yyyy/MM/dd HH:mm:ss')}]]</div>
						</div>
					</div>
				</div>
				<div class="card shadow mb-4" style="margin-top:10px">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">댓글보기</h6>
					</div>
					<div class="card-body" id="commentdiv">
					</div>
					<div class="card-body">
						<textarea class="form-control" id="commentContent" rows="5"></textarea>
						<button type="button" class="btn btn-secondary" onclick="registerComment()" style="margin-top:10px">댓글등록</button>
					</div>
				</div>
				<a th:href="@{/goods/modify(goodsNo=${result.goodsNo})}"
				   class="btn btn-primary"
				   th:if="${#authorization.expression('isAuthenticated()')}"
				   style="margin-bottom:15px">수정</a>
				<button type="button" class="btn btn-info homeBtn" style="margin-bottom:15px">홈으로</button>
				<button type="button" class="btn btn-info goodsListBtn" style="margin-bottom:15px">상품목록으로</button>
				<a th:href="@{/purchase/add(goodsNo = ${result.goodsNo})}">
					<button type="button" class="btn btn-info" th:if="${#authorization.expression('isAuthenticated()')}" style="margin-bottom:15px">예약하기</button>
				</a>
			</div>
		</section>
		<!--댓글구현-->
		<script th:inline="javascript">
			$(document).ready(function () {
				showComment();
			})

			//댓글조회
			function showComment() {
				var goodsNo = [[${result.goodsNo}]];
				let comment_div = $('#commentdiv');

				$.ajax({
					type: "GET",
					url: "/comment/read/" + goodsNo,
					success: function (response) {
						var commentlist = response;
						if (commentlist) {
							comment_div.empty(); //자식 엘리먼트 모두 지우기
							for (var i = 0; i < commentlist.length; i++) {
								let comment = commentlist[i];
								let writer_span = '<span class="fw-bold strong mar">' + comment.cmtWriter + '</span>';
								let content_span = '<span class="mar"> ' + comment.cmtContents + ' </span>';
								let modify_btn = '<button><a href="#" class="editCommentBtn" data-comment-no="' + comment.cmtNo + '">수정</a></button>';
								let href = '/comment/remove?cmtNo=' + comment.cmtNo;
								let delete_btn = '<button><a href="javascript:removeComment(' + comment.cmtNo + ')" class="deleteCommentBtn">삭제</a></button>';
								let comment_html = '<div class="row1">' + writer_span + '</br>' + content_span + '</br>' + modify_btn + '&nbsp;' + delete_btn + '</div> </br>';
								comment_div.append(comment_html);
							}
						} else {
							comment_div.append("댓글이 없습니다.");
						}
					}
				})
			}

			//댓글등록
			function registerComment() {
				var board = [[${result.goodsNo}]];
				let commentContent = document.getElementById("commentContent");
				let goodsNo = [[${result.goodsNo}]];
				let commentDto =
				{
					'cmtNo': 0,
					'goodsNo': goodsNo,
					'cmtContents': commentContent.value
				}
				$.ajax({
					type: "POST",
					url: "/comment/register",
					data: commentDto,
					success: function (response) {
						if (response) {
							commentContent.value = null;
							showComment();
						}
					}
				});
			};

			//댓글수정
			$(document).on("click", ".editCommentBtn", function (event) {
				let cmtNo = $(this).data("comment-no");
				let cmtRow = $(this).closest(".row1");
				let cmtContents = cmtRow.find("span").eq(1).text();
				let saveButton = '<button class="saveCommentBtn" data-comment-no="' + cmtNo + '">저장</button>';
				cmtRow.find("span").eq(1).replaceWith(`<textarea>${cmtContents}</textarea>`);
				$(this).replaceWith(saveButton);


			})

			$(document).on("click", ".saveCommentBtn", function (event) {
				let cmtNo = $(this).data("comment-no");
				let cmtRow = $(this).closest(".row1");
				let newCmtText = cmtRow.find("textarea").val();
				let commentDto =
				{
					"cmtNo": cmtNo,
					"goodsNo": [[${result.goodsNo}]],
					"cmtContents": newCmtText,
				};

				$.ajax({
					type: "POST",
					url: "/comment/modify",
					data: commentDto,
					success: function (response) {
						if (response) {
							showComment();
							alert("댓글이 수정되었습니다");
						} else {
							alert("댓글 수정에 실패했습니다.");
						}
					}
				});

				let editButton = '<button class="editCommentBtn" data-comment-no="' + cmtNo + '">수정</button>';

				let cmtText = cmtRow.find("textarea").val();
				cmtRow.find("textarea").replaceWith(`<span>${cmtText}</span>`);


			});

			//댓글삭제
			function removeComment(cmtNo) {
				var board = [[${result.goodsNo}]];
				$.ajax({
					type: "GET",
					url: "/comment/remove/" + cmtNo,
					success: function (response) {
						if (response) {
							showComment();
						}
					}
				})
				alert("댓글이 삭제되었습니다");
			}

			var form = $("form");

			 $(".homeBtn").click(function() {
                form
                    .attr("action", "/home/main")
              		.submit();
            })

			 $(".goodsListBtn").click(function() {
                form
                    .attr("action", "/goods/list")
              		.submit();
            })

		</script>
	</th:block>
</th:block>