<!DOCTYPE html>

<th:block th:replace="layout/base :: setContent(~{this::content} )">

    <th:block th:fragment="content">

        <h1 class="mt-4" style="padding-bottom: 5px; width: 75%;">텐트 예약</h1>

        <form th:action="@{/purchase/add}" th:method="post">

            <div class="form-group" style="margin-bottom: 20px;">
                <label style="font-weight:bold;">텐트 번호</label><br>
                <input type="text" class="form-control" style="width: 100%" name= "goodsNo" th:value="${goodsNo}" readonly>
            </div>
            <div class="form-group" style="margin-bottom: 20px;">
                <label style="font-weight:bold;">렌탈 기간</label><br>
                <input style="display:inline; margin-right:10px; text-align-last: center;" type="date" name="pcsStartDate" />
                <p style="display:inline; margin-right:10px;"> ~ </p>
                <input style="display:inline; text-align-last: center;" type="date" name="pcsEndDate" /><br>
            </div>
            <div class="form-group" style="margin-bottom: 20px;">
                <label style="font-weight:bold;">비고</label><br>
                <textarea class="form-control" rows="5" name="explanation" type="text" style="width: 100%"></textarea>
            </div>
            <div style="margin-bottom: 20px;">
                <button type="submit" class="btn btn-primary1">완료</button>
                <a th:href="@{/purchase/list}">
                    <button type="button" class="btn btn-primary2">취소</button>
                </a>
            </div>
        </form>

    </th:block>

</th:block>

